// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

.h1-style{
    text-align: center;
    padding: 20px 0px 20px 0px;   
}

.font-style-title{
    font-family: 'Anton', sans-serif;
}

.font-style-information{
    font-family: 'Open Sans Condensed', sans-serif;
}

.font-style-menu{
    font-family: 'Open Sans Condensed', sans-serif;
}

.font-size-icons{
    font-size: 35px;
}

.navbar{
    padding: 0px 0px 0px 310px;
}

.icon-title{
    font-size: 35px;
}

.py-5{
    font-size: 30px;
}

